<div class="sidebar-wrapper">
  <aside>
    <header>
      <input class="form-control mr-sm-2"
             type="search"
             placeholder="Hľadať"
             aria-label="Hľadať"
             [formControl]="searchControl"
             (input)="search()">
    </header>

    <ul class="list-group">
      <li *ngFor="let i of items" class="list-group-item d-flex justify-content-between align-items-center">
        {{i.name}}
        <span class="badge badge-pill" [ngClass]="getItemClass(i)">{{ getItemStatus(i) }}</span>
      </li>
    </ul>

    <footer>
      <div>Uhradených: {{ paidInvoicesCount }}</div>
      <div>Neuhradených: {{ unpaidInvoicesCount }}</div>
    </footer>
  </aside>
</div>
