<div class="invoicing-container">
  <app-invoice-list [items]="searchedItems" (searchEvent)="searchItems($event)"></app-invoice-list>
  <main>
    <form (ngSubmit)="addItem()">
      <div class="add-container">
        <input class="form-control"
               type="text"
               placeholder="Pridať faktúru"
               aria-label="Pridať faktúru"
               [formControl]="newItem">
      </div>
      <button class="btn btn-primary">Pridať faktúru</button>
    </form>
  </main>
</div>
