@import "../../../styles/colors";

.invoicing-container {
  height: 100%;
  padding-left: 321px;
  position: relative;

  main {
    height: 100%;
    text-align: center;

    .add-container {
      padding: 1rem;
    }
  }
}
